@if (simulationStats$ | async; as stats) {
	<p>
		<b>duration:</b> {{stats.simulationDuration}} sec.<br>
	</p>

	<table class="table table-striped stats-table" style="text-align: right;">
		<thead>
			<tr>
				<th scope="col" style="text-align: left; width: 25%">spell</th>
				<th scope="col" style="text-align: center; width: 5%">rank</th>
				<th scope="col" style="width: 10%">numCasts</th>
				<th scope="col" style="width: 10%">numHit</th>
				<th scope="col" style="width: 10%">hit%</th>
				<th scope="col" style="width: 10%">numCrit</th>
				<th scope="col" style="width: 10%">crit%</th>
				<th scope="col" style="width: 10%">totalDamage</th>
				<th scope="col" style="width: 10%">dps</th>
			</tr>
		</thead>
		<tbody>
			@for (abilityStats of stats.abilityStats; track abilityStats.ability) {
				<tr>
					<td style="text-align: left">
						<app-description [source]="abilityStats.ability"></app-description>
					</td>
					<td style="text-align: center">{{abilityStats.ability.rank | blankZero}}</td>
					<td>{{abilityStats.numCasts}}</td>
					<td>{{abilityStats.numHit | blankZero}}</td>
					<td>{{(100 * abilityStats.numHit / abilityStats.numCasts) | number:'1.2-2' | blankZero}}</td>
					<td>{{abilityStats.numCrit | blankZero}}</td>
					<td>{{(100 * abilityStats.numCrit / abilityStats.numCasts) | number:'1.2-2' | blankZero}}</td>
					<td>{{abilityStats.totalDamage | number:'1.0-0' | blankZero}}</td>
					<td>{{abilityStats.dps | number:'1.0-0' | blankZero}}</td>
				</tr>
			}
			<tr class="stat-summary">
				<td style="text-align: left">
					Summary
				</td>
				<td></td>
				<td>{{stats.numCasts}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{stats.totalDamage | number:'1.0-0' | blankZero}}</td>
				<td>{{stats.dps | number:'1.0-0' | blankZero}}</td>
			</tr>
		</tbody>
	</table>
} @else {
	<p>simulation in progress...</p>
}

