<ng-template #template>	
	<tr>
		<th scope="row">
			{{itemSlot.replace('_', ' ').replace('1', '#1').replace('2', '#2') | titlecase}}
			@if (visible && slotGroup) {
				<app-equip-upgrade-button [slotGroup]="slotGroup"></app-equip-upgrade-button>
			}
		</th>
		<td>
			@if (visible) {
				<app-item-select [itemSlot]="itemSlot"></app-item-select>
			}
		</td>
		<td>
			@if (visible) {
				<app-enchant-select [itemSlot]="itemSlot"></app-enchant-select>
			}
		</td>
		<td>
			@if (visible) {
				<app-gem-select [itemSlot]="itemSlot" [socketNo]="0"></app-gem-select>
			}
		</td>
		<td>
			@if (visible) {
				<app-gem-select [itemSlot]="itemSlot" [socketNo]="1"></app-gem-select>
			}
		</td>
		<td>
			@if (visible) {
				<app-gem-select [itemSlot]="itemSlot" [socketNo]="2"></app-gem-select>
			}
		</td>
		<td>
			@if (visible) {
				<app-socket-status [itemSlot]="itemSlot"></app-socket-status>
			}
		</td>
	</tr>
</ng-template>
