<ng-template #template>
	<tr>
		<th scope="row">
			{{itemSlot.replace('_', ' ').replace('1', '#1').replace('2', '#2') | titlecase}}
			<app-equip-upgrade-button
				*ngIf="visible"
				[slotGroup]="slotGroup"
				[upgrades]="upgrades"
				(clicked)="onEquipUpgradeClicked($event)"
			></app-equip-upgrade-button>
		</th>
		<td>
			<app-item-select
				*ngIf="visible"
				[selectedCharacterId]="selectedCharacterId"
				[itemSlot]="itemSlot"
				[equippableItem]="equippableItem"
				[equipmentOptions]="equipmentOptions"
				(changed)="onItemChange($event)"
			></app-item-select>
		</td>
		<td>
			<app-enchant-select
				*ngIf="visible && equippableItem"
				[selectedCharacterId]="selectedCharacterId"
				[itemSlot]="itemSlot"
				[equippableItem]="equippableItem"
				[equipmentOptions]="equipmentOptions"
				(changed)="onEnchantChange($event)"
			></app-enchant-select>
		</td>
		<td>
			<app-gem-select
				*ngIf="visible && equippableItem"
				[selectedCharacterId]="selectedCharacterId"
				[itemSlot]="itemSlot"
				[equippableItem]="equippableItem"
				[equipmentOptions]="equipmentOptions"
				[socketNo]="0"
				(changed)="onGemChange($event)"
			></app-gem-select>
		</td>
		<td>
			<app-gem-select
				*ngIf="visible && equippableItem"
				[selectedCharacterId]="selectedCharacterId"
				[itemSlot]="itemSlot"
				[equippableItem]="equippableItem"
				[equipmentOptions]="equipmentOptions"
				[socketNo]="1"
				(changed)="onGemChange($event)"
			></app-gem-select>
		</td>
		<td>
			<app-gem-select
				*ngIf="visible && equippableItem"
				[selectedCharacterId]="selectedCharacterId"
				[itemSlot]="itemSlot"
				[equippableItem]="equippableItem"
				[equipmentOptions]="equipmentOptions"
				[socketNo]="2"
				(changed)="onGemChange($event)"
			></app-gem-select>
		</td>
		<td>
			<app-socket-status
				*ngIf="visible && equippableItem"
				[socketStatus]="socketStatus"
			></app-socket-status>
		</td>
	</tr>
</ng-template>
