body {
	overflow-y: scroll;
}

.dropdown-select::after {
	content: none;
}

.equipment-table th, .equipment-table td {
	padding: 2px 2px 2px 4px !important;
}

.equipment-table {
	margin-bottom: 4px;
	table-layout:fixed;
}

.big-btn-link {
	font-size: 15px;
	font-weight: bold;
}

.item-descr {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

.item-header {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.rarity-common { color: #000000; }
.rarity-uncommon { color: #3da82f; }
.rarity-rare { color: #0070dd; }
.rarity-epic { color: #a335ee; }
.rarity-legendary { color: #ff8000; }

.socket {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.red-socket { color: #FF4F3C; }
.yellow-socket { color: #FFB432; }
.blue-socket { color: #4187E1; }
.meta-socket { color: grey; }

.socket-matching { }

.socket-notmatching {
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
}

.red-gem { color: #FF4F3C; }
.orange-gem { color: #FFB432; }
.yellow-gem { color: #CEB52A; }
.green-gem { color: green; }
.blue-gem { color: #4187E1; }
.purple-gem { color: #9529c6; }
.meta-gem { color: grey; }

.socket-bonus {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.socket-bonus-enabled {
	color: green;
}
.socket-bonus-disabled {
	color: grey;
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
}

.buff-name {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.buff-stats {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

.stats-table {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	width: 100%;
	margin-bottom: 0px;
}

.stats-table td, .stats-table th {
	padding: 2px !important;
}

.stats-header {
	font-style: italic;
	font-weight: bold !important;
	font-size: 18px;
	padding: 4px 0px 6px 0px;
	background-color: rgb(216, 223, 233);
	width:100%;
	text-align: center;
}

.dps-bar {
	font-weight: bold !important;
	font-size: 28px;
	width:100%;
	text-align: center;
}

.dps-diff {
	font-size: 18px;
}

.character-select-bar {
	display: flex;
	justify-content: center;
}

.character-select-bar-caption {
	
}

.character-select-bar-data {
	font-weight: bold;
}

.positive-dps-diff {
	color: green;
}

.negative-dps-diff {
	color: red;
}

.no-upgrades {
	color: green;
	font-weight: bold !important;
	font-size: 16px;
}

.upgrade-list {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

.upgrade-list-slot-group {
	font-size: 14px;
	font-weight: bold;
}

.upgrade-badge {
	cursor: pointer;
}

.added-ability {

}

.removed-ability {
	text-decoration: line-through;
}

.centered-button {
	width:100%;
	text-align: center;
}

.instant-cast {
	text-decoration: underline;
}

.item-filter {
	font-size: 0.8em;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
}

.item-filter-header {
	margin-right: 10px;
	font-weight: bold;
}
