@if (data$ | async; as data) {
	<table class="table table-striped equipment-table" style="width:100%">
		<thead>
			<tr>
				<th scope="col" [ngStyle]="{'width': data.canEditGems ? '12%' : '15%'}">Slot</th>
				<th scope="col" [ngStyle]="{'width': data.canEditGems ? '17%' : '30%'}">Item</th>
				<th scope="col" [ngStyle]="{'width': data.canEditGems ? '16%' : '55%'}">Enchant</th>
				<th scope="col" style="width: 15%" [hidden]="!data.canEditGems">Gem #1</th>
				<th scope="col" style="width: 15%" [hidden]="!data.canEditGems">Gem #2</th>
				<th scope="col" style="width: 15%" [hidden]="!data.canEditGems">Gem #3</th>
				<th scope="col" style="width: 10%" [hidden]="!data.canEditGems">Socket Bonus</th>
			</tr>
		</thead>
		<tbody>
			@for (itemSlot of itemSlots; track itemSlot) {
				<app-equipment-slot-editor
					[itemSlot]="itemSlot"
					[visible]="data.isSlotVisible(itemSlot)"
				></app-equipment-slot-editor>
			}
		</tbody>
	</table>

	<app-item-filter></app-item-filter>

	<div style="text-align: center;">
		<button
			type="button"
			class="btn btn-sm btn-link big-btn-link"
			(click)="resetEquipment(data.characterId)"
		>Reset</button>
	</div>
}
