@if (rotationStats$ | async; as rotationStats) {
	<div class="dps-bar">
		<span>dps: {{rotationStats.dps | number:'1.0-0'}}</span>
		@if (dpsDiff) {
			<span
				class="dps-diff"
				[ngClass]="{'positive-dps-diff': dpsDiff > 0, 'negative-dps-diff': dpsDiff < 0}"
			>
				&nbsp;({{dpsDiff > 0 ? "+" : ""}}{{dpsDiff | number:'1.0-0'}})
			</span>
		}
		@for (stats of rotationStats.statList; track stats.spell.name) {
			<img
				[src]="stats.spell.icon | icon"
				[ngStyle]="{'margin-left': $index === 0 ? '10px' : '5px'}"
				[title]="stats.spell.name + ' - ' + (getDamageShare(stats) | number:'1.0-1') + '%'"
			/>
		}
	</div>
}
