@if (selectedCharacterId$ | async) {
	@if (dataLoaded$ | async) {
		<app-dps-bar></app-dps-bar>

		<nav ngbNav #nav="ngbNav" class="nav-tabs">
			<ng-container ngbNavItem>
				<a ngbNavLink>Character</a>
				<ng-template ngbNavContent>
					<app-character-details></app-character-details>
				</ng-template>
			</ng-container>
			<ng-container ngbNavItem>
				<a ngbNavLink>Equipment</a>
				<ng-template ngbNavContent>
					<app-equipment-editor></app-equipment-editor>
					<app-upgrade-list></app-upgrade-list>
				</ng-template>
			</ng-container>
			<ng-container ngbNavItem>
				<a ngbNavLink>Buffs</a>
				<ng-template ngbNavContent>
					<div class="stats-header">Buffs</div>
					<app-buff-editor [buffListType]="CHARACTER_BUFF"></app-buff-editor>
					<div class="stats-header">Debuffs</div>
					<app-buff-editor [buffListType]="TARGET_DEBUFF"></app-buff-editor>
					<div class="stats-header">Consumables</div>
					<app-consumable-editor></app-consumable-editor>
				</ng-template>
			</ng-container>
			<ng-container ngbNavItem>
				<a ngbNavLink>Estimates</a>
				<ng-template ngbNavContent>
					<div class="stats-header">Spell Stats</div>
					<app-ability-stats></app-ability-stats>
					<div class="stats-header">Character Stats</div>
					<app-character-stats></app-character-stats>
					<div class="stats-header">Special Abilities</div>
					<app-special-abilities></app-special-abilities>
					<div class="stats-header">Talents</div>
					<app-talent-stats></app-talent-stats>
					<div class="stats-header">Racials</div>
					<app-racial-list></app-racial-list>
				</ng-template>
				<ng-container ngbNavItem>
					<a ngbNavLink>Simulation</a>
					<ng-template ngbNavContent>
						<app-simulation></app-simulation>
					</ng-template>
				</ng-container>
			</ng-container>
		</nav>

		<div [ngbNavOutlet]="nav"></div>
	} @else {
		loading...
	}
}
