<table class="table table-striped stats-table">
	<thead>
		<tr>
			<th scope="col" style="width: 15%">name</th>
			<th scope="col">description</th>
			<th scope="col">stat equivalent</th>
			<th scope="col">sp equivalent</th>
		</tr>
	</thead>
	<tbody>
		@for (specialAbilityStats of specialAbilityStats$ | async; track specialAbilityStats) {
			<tr>
				<td>
					<app-description [source]="specialAbilityStats.ability"></app-description>
				</td>
				<td [title]="specialAbilityStats.attributes">{{specialAbilityStats.ability.tooltip}}</td>
				<td>{{specialAbilityStats.statEquivalent}}</td>
				<td>{{specialAbilityStats.spEquivalent | number:'1.0-0' | blankZero}}</td>
			</tr>
		}
	</tbody>
</table>
