<div ngbDropdown style="width:100%">
	<a
		class="nav-link dropdown-select"
		tabindex="0"
		ngbDropdownToggle
		id="{{id}}"
		role="button"
		style="overflow: clip"
		[innerHTML]="formatSelection(selection)"
		title="{{formatTooltip(selection)}}"
	></a>
	<div ngbDropdownMenu attr.aria-labelledby="{{id}}" class="dropdown-menu dropdown-menu-end">
		@for (item of getItems(); track trackKey(item)) {
			@switch (item.type) {
				@case ('group') {
					<a 
						ngbDropdownItem 
						href="#" 
						[disabled]="true"
					>{{item.name}}</a>
				}
				@case ('value') {
					<a
						ngbDropdownItem 
						href="#"
						(click)="$event.preventDefault();onSelect(item.value)"
						[innerHTML]="formatElement(item.value)"
						title="{{formatTooltip(item.value)}}"
					></a>
				}
			}
		}
	</div>
</div>
