@if (allUpgrades$ | async; as allUpgrades) {
	<div>
		<div style="text-align: center;">
			<button
				type="button"
				class="btn btn-sm btn-link big-btn-link"
				(click)="toggleVisibility()"
			>{{visible ? "Hide Upgrades" : "Show Upgrades"}}</button>
		</div>

		@if (visible) {

			<nav ngbNav #nav="ngbNav" class="nav-tabs" style="padding-top: 20px;">
				@for (slotGroup of itemSlotGroups; track slotGroup) {
					@if (allUpgrades[slotGroup].length > 0) {
						<ng-container ngbNavItem>
							<a ngbNavLink>{{slotGroup | titlecase}}</a>
							<ng-template ngbNavContent>
								<ul class="upgrade-list" style="padding-top: 10px; padding-bottom: 30px">
										@for (upgrade of allUpgrades[slotGroup]; track upgrade) {
											<li>
												<b>+{{upgrade.changePct | number:'1.2-2'}}%:</b>&nbsp;

												@for (item of upgrade.itemDifference; track item.item.id) {
													<span>
														<span title="{{item.item.detailedSource}}">[{{item.item.source}}]</span>&nbsp;
														<span class="rarity-{{item.item.rarity.toLowerCase()}} item-header">{{item.item.name}}</span>

														@for (gem of item.gems; track gem) {
															<span>
																@if (!!gem) {
																	<span class="{{gem.color.toLowerCase()}}-gem item-header">[{{gem.shortName}}]</span>
																}
															</span>
														}

														@if (!$last) {
															<span> + </span>
														}
													</span>
												},
												<b>diff:</b>
												{{upgrade.statDifference.join(",&nbsp;")}}
												@for (added of upgrade.addedAbilities; track added) {
													<span class="added-ability">{{added}},&nbsp;</span>
												}
												@for (removed of upgrade.removedAbilities; track removed) {
													<span class="removed-ability">{{removed}},&nbsp;</span>
												}
											</li>
										}
									</ul>
							</ng-template>
						</ng-container>	
					}
				}
			</nav>

			<div [ngbNavOutlet]="nav"></div>
			
		}
	</div>
}
