<div class="container">
	<app-profile-select (profileSelected)="onProfileSelected($event)"></app-profile-select>

	<div *ngIf="selectedProfile">

	<app-dps-bar [dps]="dps" [dpsDiff]="dps && previousDps ? dps - previousDps : 0"></app-dps-bar>

	<nav ngbNav #nav="ngbNav" class="nav-tabs">
		<ng-container ngbNavItem>
			<a ngbNavLink>Equipment</a>
			<ng-template ngbNavContent>
				<app-equipment-editor
					[selectedProfileId]="selectedProfile.profileId!"
					[upgradesBySlotGroup]="upgradesBySlotGroup"
					(equipmentChanged)="onEquipmentChanged()"
				></app-equipment-editor>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem>
			<a ngbNavLink>Buffs</a>
			<ng-template ngbNavContent>
				<app-buff-editor [selectedProfileId]="selectedProfile.profileId!" (buffsChanged)="onBuffsChanged()"></app-buff-editor>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem>
			<a ngbNavLink>Results</a>
			<ng-template ngbNavContent>
				<div class="stats-header">Spell Stats</div>
				<app-spell-stats [selectedProfileId]="selectedProfile.profileId!"></app-spell-stats>
				<div class="stats-header">Character Stats</div>
				<app-character-stats [selectedProfileId]="selectedProfile.profileId!"></app-character-stats>
				<div class="stats-header">Special Abilities</div>
				<app-special-abilities [selectedProfileId]="selectedProfile.profileId!"></app-special-abilities>
			</ng-template>
		</ng-container>
	</nav>

	<div [ngbNavOutlet]="nav"></div>

	</div>
</div>
