<div ngbDropdown style="width:100%">
	<a
		class="nav-link dropdown-select"
		tabindex="0"
		ngbDropdownToggle
		id="{{id}}"
		role="button"
		style="overflow: clip"
		[innerHTML]="formatSelection(selection)"
		title="{{formatTooltip(selection)}}"
	></a>
	<div ngbDropdownMenu attr.aria-labelledby="{{id}}" class="dropdown-menu dropdown-menu-end">
		<ng-container *ngFor="let item of getItems()">
			<a 
				*ngIf="item.type === 'group'"
				ngbDropdownItem 
				href="#" 
				[disabled]="true"
			>{{item.name}}</a>
			<a
				*ngIf="item.type === 'value'"
				ngbDropdownItem 
				href="#"
				(click)="$event.preventDefault();onSelect(item.value)"
				[innerHTML]="formatElement(item.value)"
				title="{{formatTooltip(item.value)}}"
			></a>
		</ng-container>
	</div>
</div>
