<div *ngIf="dataLoaded$ | async">
	<table class="table table-striped equipment-table" style="width:100%">
		<thead>
			<tr>
				<th scope="col" [ngStyle]="{'width': editGems ? '12%' : '15%'}">Slot</th>
				<th scope="col" [ngStyle]="{'width': editGems ? '17%' : '30%'}">Item</th>
				<th scope="col" [ngStyle]="{'width': editGems ? '16%' : '55%'}">Enchant</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #1</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #2</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #3</th>
				<th scope="col" style="width: 10%" [hidden]="!editGems">Socket Bonus</th>
			</tr>
		</thead>
		<tbody>
			<app-equipment-slot-editor
				*ngFor="let itemSlot of itemSlots"
				[itemSlot]="itemSlot"
				[visible]="isSlotVisible(itemSlot)"
			></app-equipment-slot-editor>
		</tbody>
	</table>

	<app-item-filter></app-item-filter>

	<div style="text-align: center;">
		<button
			type="button"
			class="btn btn-sm btn-link big-btn-link"
			(click)="resetEquipment()"
		>Reset</button>
	</div>
</div>
