<div *ngIf="equipment">
	<table class="table table-striped equipment-table" style="width:100%">
		<thead>
			<tr>
				<th scope="col" [ngStyle]="{'width': editGems ? '12%' : '15%'}">Slot</th>
				<th scope="col" [ngStyle]="{'width': editGems ? '17%' : '30%'}">Item</th>
				<th scope="col" [ngStyle]="{'width': editGems ? '16%' : '55%'}">Enchant</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #1</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #2</th>
				<th scope="col" style="width: 15%" [hidden]="!editGems">Gem #3</th>
				<th scope="col" style="width: 10%" [hidden]="!editGems">Socket Bonus</th>
			</tr>
		</thead>
		<tbody>
			<app-equipment-slot-editor
				*ngFor="let itemSlot of itemSlots"
				[itemSlot]="itemSlot"
				[equippableItem]="equipment.itemsBySlot[itemSlot]"
				[equipmentOptions]="equipmentOptions"
				[selectedCharacterId]="selectedCharacterId"
				[socketStatus]="equipmentSocketStatus?.socketStatusesByItemSlot?.[itemSlot]"
				[visible]="itemSlot !== ItemSlot.OFF_HAND || equipment.itemsBySlot[ItemSlot.MAIN_HAND]?.item?.itemType !== ItemType.TWO_HAND"
				[slotGroup]="getItemSlotGroup(itemSlot)"
				[upgrades]="getItemSlotGroup(itemSlot) ? upgradesBySlotGroup[getItemSlotGroup(itemSlot)!] : undefined"
				(itemChanged)="onItemChange($event)"
				(enchantChanged)="onEnchantChange($event)"
				(gemChanged)="onGemChange($event)"
				(equipUpgradeClicked)="onEquipUpgradeClicked($event)"
			></app-equipment-slot-editor>
		</tbody>
	</table>

	<div class="item-filter">
		<span class="item-filter-header">Filters:&nbsp;</span>

		<div class="form-check form-check-inline" *ngIf="heroics">
			<input
				id="filter-heroics"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.heroics"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-heroics">
				heroics
			</label>
		</div>

		<div class="form-check form-check-inline">
			<input
				id="filter-raids"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.raids"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-raids">
				raids
			</label>
		</div>

		<div class="form-check form-check-inline">
			<input
				id="filter-world-bosses"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.worldBosses"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-world-bosses">
				world bosses
			</label>
		</div>

		<div class="form-check form-check-inline">
			<input
				id="filter-pvp-items"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.pvpItems"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-pvp-items">
				pvp items
			</label>
		</div>

		<div class="form-check form-check-inline">
			<input
				id="filter-greens"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.greens"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-greens">
				greens
			</label>
		</div>

		<div class="form-check form-check-inline">
			<input
				id="filter-legendaries"
				class="form-check-input"
				type="checkbox"
				[(ngModel)]="itemFilter.legendaries"
				(ngModelChange)="onFilterChange()"
			>
			<label class="form-check-label" for="filter-legendaries">
				legendaries
			</label>
		</div>
	</div>

	<div style="text-align: center;">
		<button
			type="button"
			class="btn btn-sm btn-link big-btn-link"
			(click)="resetEquipment()"
		>Reset</button>
	</div>
</div>
