<div class="container">
	<app-profile-select
		[selectedProfileId]="selectedProfileId"
		(profileSelected)="onProfileSelected($event)"
	></app-profile-select>

	@if (selectedProfileId) {
		<app-character-select
			[selectedProfileId]="selectedProfileId"
			[selectedCharacterId]="selectedCharacterId!"
			(characterSelected)="onCharacterSelected($event)"
		></app-character-select>
	}

	@if (selectedCharacterId) {
		<app-profile-editor
			[selectedCharacterId]="selectedCharacterId"
		></app-profile-editor>
	}
</div>
