<div class="row mt-3 mb-1">
	<div class="col-md-10">
		<select
			class="form-select"
			[(ngModel)]="selectedProfileId"
			(ngModelChange)="onProfileChange($event)"
		>
			@for (profile of sortedProfileList; track profile.profileId) {
				<option [ngValue]="profile.profileId">{{profile.profileName}} - {{profile.race.name}} {{profile.characterClass.name}}</option>
			}
		</select>
	</div>
	<div class="col-md-2">
		<button class="btn btn-outline-primary" style="width:100%" routerLink="/new-profile">New Profile</button>
	</div>
</div>
