.socket {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.red-socket { color: #FF4F3C; }

.yellow-socket { color: #FFB432; }

.blue-socket { color: #4187E1; }

.meta-socket { color: grey; }

.socket-notmatching {
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
}

.red-gem { color: #FF4F3C; }

.orange-gem { color: #FFB432; }

.yellow-gem { color: #CEB52A; }

.green-gem { color: green; }

.blue-gem { color: #4187E1; }

.purple-gem { color: #9529c6; }

.meta-gem { color: grey; }

.socket-bonus {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.socket-bonus-enabled {
	color: green;
}
.socket-bonus-disabled {
	color: grey;
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
}
