@if (socketStatus$ | async; as socketStatuses) {
	<div>
		@for (socketStatus of socketStatuses.socketStatuses; track socketStatus) {
			<span
				class="socket {{socketStatus.socketType.toLowerCase()}}-socket"
				[ngClass]="{'socket-matching': socketStatus.matching, 'socket-notmatching': !socketStatus.matching}"
			>[{{socketStatus.socketType.substr(0, 1)}}]</span>
			@if ($last) {&nbsp;}
		}
		<span
			class="socket-bonus"
			[ngClass]="{'socket-bonus-enabled': socketStatuses.socketBonusStatus.enabled, 'socket-bonus-disabled': !socketStatuses.socketBonusStatus.enabled}"
		>{{socketStatuses.socketBonusStatus.bonus}}</span>
	</div>
}
