@if (newProfileOptions) {
	<form [formGroup]="form" (ngSubmit)="onAddClick()" class="container">
		<div class="needs-validation" novalidate>
			<div class="row py-2">
				<div class="col-md-9">
					<label for="profileName" class="form-label">Profile Name</label>
					<input id="profileName" type="text" class="form-control" formControlName="profileName">
					@if (profileNameControl.touched && profileNameControl.hasError('required')) {
						<span>missing value</span>
					}
				</div>
			</div>

			<div class="row py-2">
				<div class="col-md-3">
					<label for="character-class-select-selection" class="form-label">Class</label>
					<app-dropdown-select
						id="character-class-select"
						formControlName="characterClass"
						[elements]="newProfileOptions.classOptions"
						[valueFormatter]="characterClassFormatter"
					></app-dropdown-select>

					@if (characterClassControl.touched && characterClassControl.hasError('required')) {
						<span>missing value</span>
					}
				</div>

				<div class="col-md-3">
					<label for="race-select-selection" class="form-label">Race</label>
					<app-dropdown-select
						id="race-select"
						formControlName="race"
						[elements]="characterClass?.races || []"
						[valueFormatter]="raceFormatter"
					></app-dropdown-select>

					@if (raceControl.touched && raceControl.hasError('required')) {
						<span>missing value</span>
					}
				</div>
			</div>

			<div class="row py-2">
				<div class="col-md-3">
					<button class="btn btn-outline-primary" style="margin-right:10px" type="submit" [disabled]="!form.valid">Add Profile</button>
					<button class="btn btn-outline-primary" (click)="onCancelClick($event)">Cancel</button>
				</div>
			</div>
		</div>
	</form>
}
